### For Loop

In [2]:
#Range of loop

for a in range(5):
    print(a,"Mavia")        # 5 is exluded(0,1,2,3,4)

0 Mavia
1 Mavia
2 Mavia
3 Mavia
4 Mavia

In [10]:
#Range of loop (2)

for number in range(10):
    print(number)

0
1
2
3
4
5
6
7
8
9

In [5]:
#Range of loop with starting and ending point

for number in range(1,11):
    print(number)

1
2
3
4
5
6
7
8
9
10

In [27]:
#Range of loop with steps

for number in range(1,11,3):
    print(number)

1
4
7
10

In [30]:
#Range of loop with -ive steps

for number in range(10,1,-2):
    print(number)

10
8
6
4
2

In [15]:
#For loop on array

fab5 = ["Mavia","Aniq","Shaheryar","Salman","Ziyad"]
for friends in fab5:
    print(friends)

Mavia
Aniq
Shaheryar
Salman
Ziyad

In [16]:
#For loop on array

for nums in [11,22,33,44,55]:
    print(nums)

11
22
33
44
55

In [33]:
#For loop on tuple

countries = "Pakistan","Sounth Africa","Saudia Arabia"
for country in countries:
    print(country)

Pakistan
Sounth Africa
Saudia Arabia

In [31]:
#For loop on string

name = "Mavia"
for char in name:
    print(char)

M
a
v
i
a

In [15]:
#Breaking the loop using 'break' keyword

for num in [5,7,9,10,11,16]:
    if num % 2 == 0:
        break
    print(num)

5
7
9

In [55]:
#Skipping the specific step of a loop by using 'continue' keyword

for num in range(6):
    if num == 3:
        continue
    print(num)

0
1
2
4
5

In [61]:
#'Continue' keyword (2)

for num in range(10):
    if num < 5:
        continue
    print(num)

5
6
7
8
9

### Nested For Loop

In [21]:
#Nested for loop

for num in range(3):
    print("Pakistan Zindabad")
    for char in "MV":
        print(num,char)

Pakistan Zindabad
0 M
0 V
Pakistan Zindabad
1 M
1 V
Pakistan Zindabad
2 M
2 V

In [88]:
#Nested for loop (2)

elem1 = ["Na","H"]
elem2 = ["OH","Cl"]
for name1 in elem1:
    for name2 in elem2:
        print(name1 + name2)

NaOH
NaCl
HOH
HCl

### TABLES using ( For & Nested For Loop )

In [160]:
#Generating tables using 'for' loop

user = int(input("Enter table number: "))
for num in range(1,11):
    print(user,"*",num,"=",user * num)

Enter table number: 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [33]:
#Generating tables for user desired times using 'for' loop

table = int(input("Table of: "))
times = int(input("For times: "))
print()
for num in range(1,times+1):
    print(table,"*",num,"=",table*num)

Table of: 17
For times: 5

17 * 1 = 17
17 * 2 = 34
17 * 3 = 51
17 * 4 = 68
17 * 5 = 85

In [37]:
#Generating all tables according to user requirements using 'nested for' loop

user = int(input("How many tables: "))
for num in range(1,user+1):
    for num1 in range(1,11):
        print(num,"*",num1,"=",num*num1)
    print()

How many tables: 2
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

### Changing Case

In [216]:
#Lowercase to Uppercase

name = "mavia"
case = name.upper()
print(case)

MAVIA

In [218]:
#Uppercase to Lowercase

name = "MAVIA"
case = name.lower()
print(case)

mavia

In [223]:
#Uppercasing 1st character of every word in a sentence

name = "MY NAME IS MAVIA"
case = name.title()
print(case)

My Name Is Mavia

### Dictionaries

In [24]:
dict = {
    "name":"Mavia Ali",
    "father_name":"Mohammad Ali",
    "age":19,
    "gender":"Male"
}
print(dict)
print(len(dict))                #Length of dictionary

{'name': 'Mavia Ali', 'father_name': 'Mohammad Ali', 'age': 19, 'gender': 'Male'}
4

In [50]:
#Adding new key in existing dictionary and other more functions

student = {
    "name":"Mavia Ali",
    "department":"BSCS",
    "batch":17,
    "semester":3,
    "section":"B",
    "courses":["DBMS","COA","VP","DS & ALGO","DE","URDU"]       #Giving 'list' as a value
}

print(student["name"])                                 #Accessing specific value of dictionary
print(student["courses"][2])                           #Accessing specific element from list

student["email"] = "maviaali597@gmail.com"             #Adding new key & value in existing dictionary
print(student.keys())                                  #Accessing only keys of dictionary
print(student.values())                                #Accessing only values of dictionary
student

Mavia Ali
VP
dict_keys(['name', 'department', 'batch', 'semester', 'section', 'courses', 'email'])
dict_values(['Mavia Ali', 'BSCS', 17, 3, 'B', ['DBMS', 'COA', 'VP', 'DS & ALGO', 'DE', 'URDU'], 'maviaali597@gmail.com'])

{'name': 'Mavia Ali',
 'department': 'BSCS',
 'batch': 17,
 'semester': 3,
 'section': 'B',
 'courses': ['DBMS', 'COA', 'VP', 'DS & ALGO', 'DE', 'URDU'],
 'email': 'maviaali597@gmail.com'}

In [42]:
#Changing value of specific key in dictionary

week = {
    1:"Monday",
    2:"Tuesday",
    3:"Saturday",
    4:"Thursday",
    5:"Friday",
    6:"Saturday",
    7:"Sunday"
}
print("Previous:",week,"\n")
week[3] = "Wednesday"
print("Updated:",week)

Previous: {1: 'Monday', 2: 'Tuesday', 3: 'Saturday', 4: 'Thursday', 5: 'Friday', 6: 'Saturday', 7: 'Sunday'}

Updated: {1: 'Monday', 2: 'Tuesday', 3: 'Wednesday', 4: 'Thursday', 5: 'Friday', 6: 'Saturday', 7: 'Sunday'}

In [49]:
#Deleting specific key of dictionary

numbers = {
    1:100,
    2:200,
    3:300,
    4:400,
    5:500,
    6:600
}
del numbers[6]
print(numbers)

{1: 100, 2: 200, 3: 300, 4: 400, 5: 500}

In [53]:
#Finding key in dictionary

print(3 in numbers)
print(6 in numbers)             #Key '6' is deleted previously

True
False

### For Loop on Dictionaries

In [73]:
#Accessing keys of dictionary using 'for' loop

student = {
    "name":"Mavia Ali",
    "depart":"BSCS",
    "batch":17,
    "semester":3,
    "section":"B",
    "courses":["DBMS","COA","VP","DS & ALGO","DE","URDU"]
}

for keys in student.keys():
    print(keys)

name
depart
batch
semester
section
courses

In [74]:
#Accessing values of dictionary using 'for' loop

for values in student.values():
    print(values)

Mavia Ali
BSCS
17
3
B
['DBMS', 'COA', 'VP', 'DS & ALGO', 'DE', 'URDU']

In [75]:
#Accessing both keys & values of dictionary using 'for' loop

for keys,values in student.items():
    print(keys,":",values)

name : Mavia Ali
depart : BSCS
batch : 17
semester : 3
section : B
courses : ['DBMS', 'COA', 'VP', 'DS & ALGO', 'DE', 'URDU']

In [76]:
#Dictionary of Dictionaries

siblings = {
    1:{
        "name":"Mavia",
        "age":19
    },
    2:{
        "name":"Omama",
        "age":14
    },
    3:{
        "name":"Muntaha",
        "age":10
    },
    4:{
        "name":"Mustafa",
        "age":7
    }
}
print(siblings[4])              #Accessing specific sub-dictionary from whole dictionary
print(siblings[3]["age"])       #Accessing specific key from specific sub-dictionary
siblings

{'name': 'Mustafa', 'age': 7}
10

{1: {'name': 'Mavia', 'age': 19},
 2: {'name': 'Omama', 'age': 14},
 3: {'name': 'Muntaha', 'age': 10},
 4: {'name': 'Mustafa', 'age': 7}}

In [53]:
#List of Dictionaries

countries = [
    {
       "name":"Pakistan",
        "capital":"Islamabad"
    },
    {
        "name":"Saudia Arabia",
        "capital":"Riyadh"
    },
    {
        "name":"Autralia",
        "capital":"Canberra"
    },
    {
        "name":"India",
        "capital":"Delhi"
    }
]
print(countries[2])                 #Accessing specific dictionary from list using index.num
print(countries[1]["capital"])      #Accessing specific key from specific dictionary in the list
countries

{'name': 'Autralia', 'capital': 'Canberra'}
Riyadh

[{'name': 'Pakistan', 'capital': 'Islamabad'},
 {'name': 'Saudia Arabia', 'capital': 'Riyadh'},
 {'name': 'Autralia', 'capital': 'Canberra'},
 {'name': 'India', 'capital': 'Delhi'}]

In [54]:
#Adding/Appending dictionary in list of dictionaries

add = {
    "name":"America",
    "capital":"Washington"
}
countries.append(add)
countries

[{'name': 'Pakistan', 'capital': 'Islamabad'},
 {'name': 'Saudia Arabia', 'capital': 'Riyadh'},
 {'name': 'Autralia', 'capital': 'Canberra'},
 {'name': 'India', 'capital': 'Delhi'},
 {'name': 'America', 'capital': 'Washington'}]

In [55]:
#Deleting dictionary from list of dictionaries

del countries[3]
countries

[{'name': 'Pakistan', 'capital': 'Islamabad'},
 {'name': 'Saudia Arabia', 'capital': 'Riyadh'},
 {'name': 'Autralia', 'capital': 'Canberra'},
 {'name': 'America', 'capital': 'Washington'}]

Like ( append and del ) all list functions can be applied here from 'lesson 1'

# PYTHON (AI) LESSON_2 COMPLETED

### Calculator

In [117]:
num1 = int(input("Enter any number: "))
operator = input("Enter operator: ")
num2 = int(input("Enter another number: "))
print()
if operator == "+":
    print("Ans:",num1 + num2)
elif operator == "-":
    print("Ans:",num1 - num2)
elif operator == "*":
    print("Ans:",num1 * num2)
elif operator == "/":
    print("Ans:",num1 / num2)
    print("Reaminder:",num1 % num2)
else:
    print("Invalid Operator")

Enter any number: 3
Enter operator: +
Enter another number: 2

Ans: 5

### Quiz Application

In [1]:
quiz = [
    {
        "Qno":"Q1: ",
        "Q":"What is the capital of Pakistan ?",
        "options":["Karachi","Lahore","Islamabad","Faislabad"],
        "answer":"Islamabad"
    },
    {
        "Qno":"Q2: ",
        "Q":"How many provinces are there in Pakistan ?",
        "options":["3","4","5","6"],
        "answer":"4"
    },
    {
        "Qno":"Q3: ",
        "Q":"Which is the largest city of Pakistan by area ?",
        "options":["Karachi","Lahore","Islamabad","Faislabad"],
        "answer":"Karachi"
    },

     {
        "Qno":"Q4: ",
        "Q":"Which is the largest province of Pakistan by area ?",
        "options":["Sindh","Punjab","Balochistan","KPK"],
        "answer":"Balochistan"
    },
    {
        "Qno":"Q5: ",
        "Q":"What is the name of 2nd most beautiful capital in the world ?",
        "options":["London","Berlin","Ottawa","Islamabad"],
        "answer":"Islamabad"
    }    
]

marks = 0
total_marks = 5

for ques in quiz:
    print("\n" + ques["Qno"] + ques["Q"] + "\n\na) " + ques["options"][0] + "\nb) " + ques["options"][1]+ "\nc) " + ques["options"][2]+ "\nd) " + ques["options"][3] + "\n")
    ans = input("Your answer: ")
    print("___________________________________________________________")
    if ans == ques["answer"]:
        marks += 1

print("\nTotal Marks: ",total_marks)
print("Your Marks: ",marks)
percentage = (marks / total_marks) * 100
print("Your Percentage: ",percentage,end = " %")

Q1: What is the capital of Pakistan ?

a) Karachi
b) Lahore
c) Islamabad
d) Faislabad

Your answer: Islamabad
___________________________________________________________

Q2: How many provinces are there in Pakistan ?

a) 3
b) 4
c) 5
d) 6

Your answer: 4
___________________________________________________________

Q3: Which is the largest city of Pakistan by area ?

a) Karachi
b) Lahore
c) Islamabad
d) Faislabad

Your answer: Karachi
___________________________________________________________

Q4: Which is the largest province of Pakistan by area ?

a) Sindh
b) Punjab
c) Balochistan
d) KPK

Your answer: Punjab
___________________________________________________________

Q5: What is the name of 2nd most beautiful capital in the world ?

a) London
b) Berlin
c) Ottawa
d) Islamabad

Your answer: Islamabad
___________________________________________________________

Total Marks:  5
Your Marks:  4
Your Percentage:  80.0 %